@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  @apply font-sans text-white bg-haqq-black will-change-auto;
}

.ledger-block-background {
  background-image: url('../assets/images/ledger-block-bg.svg');
  background-repeat: repeat;
}

@keyframes rotate-30 {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}

@keyframes ledger-bounce {
  0%,
  20%,
  40% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  10%,
  30% {
    transform: translateY(-25px);
    animation-timing-function: ease-in;
  }
}

@keyframes scale-and-fade {
  0% {
    opacity: 0;
    transform: scale(1.01);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.ledger-bounce-animation {
  animation-name: ledger-bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.non-custodial-wallet-animation {
  animation-name: rotate-30;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-timing-function: ease-in-out;
}

.non-custodial-wallet:hover .non-custodial-wallet-animation {
  animation-play-state: running;
}

.social-login-animation {
  opacity: 0;
}

.social-login:hover .social-login-animation {
  animation-name: scale-and-fade;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.social-login-animation:nth-child(1) {
  animation-delay: 300ms;
}
.social-login-animation:nth-child(2) {
  animation-delay: 600ms;
}
.social-login-animation:nth-child(3) {
  animation-delay: 900ms;
}

.featuresSwiper {
  @apply w-full h-full;
}

.featuresSwiper .swiper-wrapper .swiper-slide {
  @apply w-[90%] min-[425px]:w-[79%] sm:w-[47.2%] lg:w-[72.5%] xl:w-[57%] min-[1440px]:w-[50.4%];
}

.featuresSwiper .swiper-wrapper {
  @apply before:!mr-[-17px] before:min-[425px]:!mr-[-38px] before:sm:!mr-[-56px] before:lg:!mr-[83px] before:xl:!mr-[-43px] before:min-[1440px]:!mr-[-122px];
}

.featuresSwiper .swiper-pagination {
  @apply flex sm:ml-[20px] lg:ml-[32px] mb-[60px] lg:mb-[100px] mt-[24px] sm:mt-[57px] lg:mt-[40px];
}

.featuresSwiper .swiper-pagination .swiper-pagination-bullet {
  @apply font-serif text-center align-text-bottom w-[82px] sm:w-[114px] lg:w-[140px] h-[30px] pt-[8px] pb-[0.75px] tracking-tighter border-t-[2px] text-black/30 border-t-black/30 bg-white cursor-pointer select-none;
}

.featuresSwiper .swiper-pagination .swiper-pagination-bullet-active {
  @apply text-black border-t-black;
}

.ecosystemSwiper .swiper-button-prev,
.ecosystemSwiper .swiper-button-next {
  display: none;
}

.ecosystemSwiper .swiper-wrapper .swiper-slide {
  @apply w-[88%] min-[375px]:w-[71%] sm:w-[56.2%] xl:w-[45%];
}

.ecosystemSwiper .swiper-wrapper {
  @apply before:!mr-[-20px] before:min-[375px]:!mr-[-52px] before:min-[425px]:!mr-[-60px] before:sm:!mr-[-164px] before:lg:!mr-[-232px] before:xl:!mr-[-348px] before:min-[1440px]:!mr-[-392px];
}
