@import './fonts.css';

@tailwind components;
@tailwind base;
@tailwind utilities;

:root {
  --font-serif: 'Alexandria';
  --font-mono: 'VCR_OSD_MONO';
}

.outline__mono {
  --distance: 1.5px;

  font-size: 46px;
  line-height: 52px;
  text-shadow: var(--distance) 0 white, calc(-1 * var(--distance)) 0 white,
    0 var(--distance) white, 0 calc(-1 * var(--distance)) white;
  color: black;
  text-transform: uppercase;
  font-family: var(--font-mono);
}
