@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono&display=swap');
@import 'ress';

@tailwind components;
@tailwind base;
@tailwind utilities;

:root {
  /* Base fonts with fallbacks */
  --font-apple: -apple-system, 'BlinkMacSystemFont';
  --font-fallback: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-base: var(--font-apple), var(--font-fallback), var(--font-emoji);

  --islamic-font-sans: 'Noto Sans Mono', var(--font-family-base);
  --islamic-font-serif: 'El Messiri', var(--font-family-base);

  --app-text-color: rgb(12, 12, 12);
  --app-background-color: #fff;
  --app-background-gradient: radial-gradient(
      120% 120% at 5% 5%,
      rgba(91, 171, 205, 0.45) 0%,
      rgba(91, 171, 205, 0.5) 0.01%,
      rgba(54, 54, 54, 0) 70%
    ),
    radial-gradient(
      120% 90% at 95% 90%,
      rgba(91, 171, 205, 0.45) 0%,
      rgba(91, 171, 205, 0.5) 0.01%,
      rgba(54, 54, 54, 0) 80%
    );

  --app-dark-text-color: #fff;
  --app-dark-background-color: rgb(12, 12, 12);
  --app-dark-background-gradient: radial-gradient(
      120% 120% at 5% 5%,
      rgba(91, 171, 205, 0.45) 0%,
      rgba(91, 171, 205, 0.2) 0.01%,
      rgba(54, 54, 54, 0) 60%
    ),
    radial-gradient(
      120% 90% at 95% 90%,
      rgba(91, 171, 205, 0.45) 0%,
      rgba(91, 171, 205, 0.2) 0.01%,
      rgba(54, 54, 54, 0) 80%
    );
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  background-attachment: fixed;
  background-size: 100% 100%;
}

body:not(.dark) {
  color: var(--app-text-color);
  background-color: var(--app-background-color);
  background-image: var(--app-background-gradient);
}

body.dark {
  color: var(--app-dark-text-color);
  background-color: var(--app-dark-background-color);
  background-image: var(--app-dark-background-gradient);
}
