@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  input[type='number'] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }
}

@font-face {
  font-family: 'Clash Display';
  src: url('/assets/fonts/ClashDisplay-Medium.woff2') format('woff2'),
    url('/assets/fonts/ClashDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HK Guise';
  src: url('/assets/fonts/hk_guise_medium-webfont.woff2') format('woff2'),
    url('/assets/fonts/hk_guise_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HK Guise';
  src: url('/assets/fonts/hk_guise_regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/hk_guise_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Base fonts with fallbacks */
  --font-apple: -apple-system, 'BlinkMacSystemFont';
  --font-fallback: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-base: var(--font-apple), var(--font-fallback), var(--font-emoji);

  --guise-font: 'HK Guise', var(--font-family-base);
  --clash-font: 'Clash Display', var(--font-family-base);
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  @apply bg-haqq-black font-sans text-white will-change-auto;
}
