@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

.vt323-regular {
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Alexandria', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  max-width: 600px;
}
